{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h1>Question</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{question.text}}</p>
            <br>
            <form action="{{path('question',{'id':id})}}" method="post">
                <input type="hidden" name="question" value="{{question.id}}">
                {% for answer in question.answers|randomize %}
                <div class="form-group">
                    <input type="checkbox" name="variants[{{answer.id}}]" style="margin-right: 20px;">
                    <label for="">{{answer.variant}}</label>
                </div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" value="next">
                </div>
            </form>
        </div>
    </div>

    <script>
        document.ondragstart = noselect;
        document.onselectstart = noselect;
        document.oncontextmenu = noselect;  
        function noselect() {return false;}
    </script>
{% endblock %}
