{% extends 'base.html.twig' %}

{% block title %}Result{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h1>Result test</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>{{exam.name}}</h2>
            <div class="row">
                <div class="col-6">
                    <h3>Right answers</h3>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Question</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for step, one in result %}
                                {% if one.answer%}
                                    <tr>
                                        <th scope="row">{{step}}</th>
                                        <td>{{one.question}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <h3>Wrong answers</h3>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Question</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for step, one in result %}
                                {% if not one.answer%}
                                    <tr>
                                        <th scope="row">{{step}}</th>
                                        <td>{{one.question}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>


{% endblock %}